{% extends '_shared/_layout' %}
{% block pageType "class" %}

{% block main %}

    <main>

{# ***** intro ***** #}
        <div class="class-intro">
            <h1>{{ entry.title }}</h1>
            
            <p class="about-text">{{ entry.listTagline }}</p>
        </div>

{# ***** class-info ***** #}
        {% include "_shared/_classGrid" with {
            limit: 3,
            section: 'classes'
        } %}

    </main>
    
{% endblock main %}