<div>
    {% set entryImage = entry.image %}
        {% for img in entry.image %}
            {% if entryImage %} 
                <img
                    src="{{ img.url('journalImage') }}"
                    alt="{{ img.title }}"
                />
            {% endif %}
        {% endfor %}
</div>