{% extends '_shared/_layout' %}
{% block pageType "journaling" %}

{% block main %}
    <main>
{# ***** intro ***** #}
        <div>
            <h3>{{ entry.title }}</h3>
            
            {{ entry.listTagline }}
        </div>

{# ***** journal entries ***** #}
        {% include "_shared/_journalGrid" with {
            limit: 3,
            section: 'journal'
        } %}        
    </main>
{% endblock main%}