{% extends '_shared/_layout' %}
{% block pageType "journaling" %}

{% block main %}
    <main>
{# ***** journal landing page title/about ***** #}
        <div>
            <h1>{{ entry.title }}</h1>
            
            <p class="journal-about">{{ entry.listTagline }}</p>
        </div>

{# ***** journal entries ***** #}
        {% include "_shared/_journalGrid" with {
            limit: 3,
            section: 'journal'
        } %}        
    </main>
{% endblock main%}