{% extends '_shared/_layout' %}
{% block pageType "coaching" %}

{% block main %}
    <main>
        <h1>One on One Garden Coaching Information Page</h1>
        <p>{{ entry.title }}</p>
    </main>
{% endblock main %}