{% extends '_shared/_layout' %}

{% block main %}

{% set buLogo = entry.buLogo.one() %}

  <body>
    {# <header class="banner">
    {% if buLogo %}
      <img
        src="{{ buLogo.getUrl() }}"
        class="logo"
        alt="Backyard University logo"
      />
    {% endif %}
    </header> #}
{# ********************** into blurb ************************ #}
    <section class="about-text">
        {{ entry.tagline }}
    </section>

{# *********************** classes ***************************** #}
  
    <section class="classes">

      <h2 class="workshops">Upcoming Classes</h2>
      <div class="more-info">
        <p>
          Questions?
          <a href="mailto:backyarduniversitypdx@gmail.com"
            >Email backyarduniversitypdx@gmail.com</a
          >
        </p>
      </div>
      <div>
        {% include "_shared/_classGrid" with {
            limit: 10,
            section: 'classes'
        } %}
      
      </div>
    </section>

{% endblock %}

    

    