<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Backyard University PDX</title>
    <link rel="icon" type="image/x-icon" href="/bufavicon.jpg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,400;1,6..12,500;1,6..12,600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

  {% block main %}
  {#  this is the template-specific code and content #}
  {% endblock %}
  
    <footer>
      <div class="social">
        <span class="email">
          <a href="mailto:backyarduniversitypdx@gmail. com"
            >backyarduniversitypdx@gmail.com</a
          ></span
        >
        <div class="social-links">
          <a href="https://www.instagram.com/backyard.university/"
            ><img src="logo/Instagram_Glyph_Black.svg" alt="instagram logo"
          /></a>
          <a href="https://www.facebook.com/profile.php?id=61552290771504"
            ><img src="logo/Facebook_Logo_Primary.png" alt="facebook logo"
          /></a>
        </div>
      </div>
      <h5>Copyright ©2024 Backyard University</h5>
      <h5>Portland, Oregon</h5>
    </footer>
    <script src="index.js" type="text/javascript"></script>
  </body>
</html>
